<div class="fluid-container" ng-controller="ListController as ctrl">
  <div class="row">
    <div class="col-sm-6 content animated fadeIn" ng-repeat ="ins in ctrl.institutes | filter : ctrl.listFilterFn" ng-mouseover="ctrl.changeHover($index);">
    
      <div class="image-container">
        <ul rn-carousel class="carousel" rn-carousel-controls rn-carousel-controls-allow-loop rn-carousel-transition="fadeAndSlide">
          <li ng-repeat="image in ins.images track by $index">
            <a ng-href="{{ins.link}}" target="_blank">
              <img ng-src="{{image}}"/>
            </a>
          </li>
        </ul>
        <a ng-href="{{ins.link}}" target="_blank">
          <img class="image-container-logo" ng-src="{{ins.logo}}">
          <span class="distance">{{ ins.distance | tokilometers }}</span>
        </a>
      </div>

      <div class="description">
        <a ng-href="{{ins.link}}" target="_blank">
          <p class="name">{{ins.name}}</p>
          <p class="address">{{ins.address}}</p>
          <p class="discipline">
            <span ng-repeat="dis in ins.disciplinesObj">
              {{dis.name}} <span class="discipline-divider" ng-if="!$last">•</span>
            </span>
          </p>
        </a>
      </div>
    </div> 
    <div class="col-md-6 col-md-offset-3" ng-if="ctrl.showButtonMore">
      <button class="btn btn-outline btn-block" ng-click="ctrl.showMoreFn();">CARGAR MÁS ACADÉMIAS</button>
    </div>
  </div>
</div>