<div class="fluid-container" ng-controller="ListController as ctrl">
  


  <div class="filters">
    <div class="row">
      
      <div class="col-md-12">
        <button class="btn btn-filter" ng-click="ctrl.toggleFilter('place')">
          <span class="label">
            Ubicación           
          </span>
          <span class="icon">
            <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 1em; width: 1em;"><path fill-rule="evenodd" d="M16.291 4.295a1 1 0 1 1 1.414 1.415l-8 7.995a1 1 0 0 1-1.414 0l-8-7.995a1 1 0 1 1 1.414-1.415l7.293 7.29 7.293-7.29z"></path></svg>
          </span>
        </button>
        <button class="btn btn-filter" ng-click="ctrl.toggleFilter('disciplinas')">
          <span class="label">
            Disciplinas           
          </span>
          <span class="icon">
            <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 1em; width: 1em;"><path fill-rule="evenodd" d="M16.291 4.295a1 1 0 1 1 1.414 1.415l-8 7.995a1 1 0 0 1-1.414 0l-8-7.995a1 1 0 1 1 1.414-1.415l7.293 7.29 7.293-7.29z"></path></svg>
          </span>
        </button>
        <button class="btn btn-filter" ng-click="ctrl.toggleFilter('cercania')">
          <span class="label">
            Cercania           
          </span>
          <span class="icon">
            <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 1em; width: 1em;"><path fill-rule="evenodd" d="M16.291 4.295a1 1 0 1 1 1.414 1.415l-8 7.995a1 1 0 0 1-1.414 0l-8-7.995a1 1 0 1 1 1.414-1.415l7.293 7.29 7.293-7.29z"></path></svg>
          </span>
        </button>
        <button class="btn btn-filter" ng-click="ctrl.toggleFilter('all')">
          <span class="label">
            Todos los filtros           
          </span>
          <span class="icon">
            <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="display: block; fill: currentcolor; height: 1em; width: 1em;"><path fill-rule="evenodd" d="M16.291 4.295a1 1 0 1 1 1.414 1.415l-8 7.995a1 1 0 0 1-1.414 0l-8-7.995a1 1 0 1 1 1.414-1.415l7.293 7.29 7.293-7.29z"></path></svg>
          </span>
        </button>
       <!--  <div class="form-group">
          <label for="formDisciplina">Disciplina</label>
          <input type="email" class="form-control" id="formDisciplina" placeholder="Email">
        </div> -->
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p> Mostrando {{ctrl.getShowInstitutes()}} academias</p>      
    </div>
  </div>
  <div class="row">
    <div class="item animated fadeIn" ng-repeat ="ins in ctrl.institutes | filter : ctrl.listFilterFn" ng-mouseover="ctrl.changeHover($index);">
    
      <div class="image-container">
        <ul rn-carousel class="carousel" rn-carousel-controls rn-carousel-controls-allow-loop rn-carousel-transition="fadeAndSlide">
          <li ng-repeat="image in ins.images track by $index">
            <a ng-href="{{ins.link}}" target="_blank">
              <img ng-src="{{image}}"/>
            </a>
          </li>
        </ul>
        <a ng-href="{{ins.link}}" target="_blank">
          <img class="image-container-logo" ng-src="{{ins.logo}}">
          <span class="distance">{{ ins.distance | tokilometers }}</span>
        </a>
      </div>

      <div class="description">
        <a ng-href="{{ins.link}}" target="_blank">
          <p class="name">{{ins.name}}</p>
          <p class="address">{{ins.address}}</p>
          <p class="discipline">
            <span ng-repeat="dis in ins.disciplinesObj">
              {{dis.name}} <span class="discipline-divider" ng-if="!$last">•</span>
            </span>
          </p>
        </a>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="list-bottom col-md-6 col-md-offset-3" ng-if="ctrl.showButtonMore">
      <button class="btn btn-outline btn-block" ng-click="ctrl.showMoreFn();">CARGAR MÁS ACADÉMIAS</button>
    </div>
  </div>
</div>