.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
	font-weight: 600;
  background-image: none; 
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857;
  @include user-select(none);
}
.btn-block {
  display: block;
  width: 100%;
}
@mixin button-variant-custom($color, $background, $border, $color-hover, $background-hover, $border-hover) {
  color: $color;
  background-color: $background;
  border: 1px $border solid;
	@include transition(color .1s, background-color .1s);
  &:focus,
  &.focus {
    color: $color-hover;
    background-color: $background-hover;
        border-color: $border-hover;
  }
  &:hover {
    color: $color-hover;
    background-color: $background-hover;
        border-color: $border-hover;
  }
  &:active,
  &.active {
    color: $color-hover;
    background-color: $background-hover;
        border-color: $border-hover;
  }
}

.btn-outline {
  margin-top: 40px;
	@include button-variant-custom(#484848, #fff, #484848, #fff, $color-main, $color-main);
}