.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
	font-weight: 600;
  background-image: none; 
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857;
  @include user-select(none);
}
.btn-block {
  display: block;
  width: 100%;
}
@mixin button-variant-custom($color, $background, $border, $color-hover, $background-hover, $border-hover) {
  color: $color;
  background-color: $background;
  border: 1px $border solid;
	@include transition(color .1s, background-color .1s);
  &:focus,
  &.focus {
    color: $color-hover;
    background-color: $background-hover;
        border-color: $border-hover;
  }
  &:hover {
    color: $color-hover;
    background-color: $background-hover;
        border-color: $border-hover;
  }
  &:active,
  &.active {
    color: $color-hover;
    background-color: $background-hover;
        border-color: $border-hover;
  }
}

.btn-outline {
	@include button-variant-custom(#484848, #fff, #484848, #fff, $color-main, $color-main);
}

.btn-filter {
  @include button-variant-custom(#333, #fff, #fff, #333, #F2F2F2, #fff);
  font-weight: 300;
  margin-right: 10px;
  .label {
    display: table-cell;
    vertical-align: middle;
    padding-right: 8px;
  }
  .icon {
    font-size: 8px !important;
    color: $color-main;
    display: table-cell !important;
    vertical-align: middle !important;

  }
}