
%cutText{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

body{
	overflow-x : hidden;
	// font-family: 'Titillium', "Helvetica Neue", Helvetica,Arial,sans-serif;
}
.fluid-container {
	margin: 0 20px;
}
.search-section{
	background-color: $body-bg;
	color: $text-color;
	display: inline;
}
	
section.filters{
	z-index: 2;
  margin-bottom: 25px;
  padding-bottom: 20px;
	background-color: #fff;
	border-bottom: 1px solid $gray-lighter;
	.slider.slider-horizontal{
		width: 100%;
	}
  .icon{
    cursor: pointer;
    position: absolute;
    right: 5px;
    border: 1px solid $gray-lighter;
    padding: 5px 17px;
    top: 0;
    &:hover{
      background-color: $gray-lighter;
    }
  }
	.resume{
    // padding: 1vh 0 0 2vw;
    .elm {
    	display: flex;
    	& > div {
    		flex-grow: 1;
    		&:last-child{
    			    width: 30px;
			    max-width: 30px;
			    min-width: 30px;
			    text-align: center;
			    border-left: none;
    		}
    	} 
    }
		& > div
		{
      // display: -webkit-box;
      margin-top: 20px;
			&>div{
				border: 1px solid $gray-lighter;
				padding: 5px;
				cursor: pointer;
				&.text-inner {
					@extend %cutText;
				}
				&:hover{
					background-color: $gray-lighter;
				}
        // &:first-child{
        //   width: 89.9%;
        // }
        // &:last-child{
        //   width: 10%;
        //   text-align: center;
        // }
			}
		}
	}
	.detailed{
    // padding: 1vh 0 0 2vw;
    margin-top: 30px;
    &>div{
      &>div{
        margin-bottom: 1.5vh;
      }
    }
	}
  .results{
  	margin-top: -48px;
		background-color: #fff;
  	margin-left: -30px;
    margin-right: -30px;
    z-index: 3;
    position: relative;
    padding-top: 20px;
    span{
      margin: 40px 20px 20px;
      color: $gray-darker;
    }
    &>div{
      border: 1px solid $gray-lighter;
      padding: 5px;
      margin: 0 20px 5px 20px;
      cursor: pointer;
      &:hover{
        background-color: $gray-lighter;
      }
    }
  }
	@include respond-to(tablet-port) { 
		width: 60vw;
		position: absolute;
		left: 0;
	}
}
section.filters .detailed .icon {
	top: -10px;
	right: 0;
}
.description {
	p {
		margin: 0;
		// height: 15px;
		// line-height: 23px;
	}
	.name {
		// font-weight: 800;
		// font-size: 24px;
		// line-height: 36px;
		color: $color-main;
		// margin: 10px 10px 0 0; 
		@extend %cutText;
	}
	.address {
		@extend %cutText;
	}
	// .discipline-divider {
	// 	color: $gray-light;
	// }
	// .info-box & {
		// .name {
		// 	font-size: 15px;
		// 	font-weight: 600;
		// }
	// } 
}

/*==================================
=            LIST ITEMS            =
==================================*/

.rn-carousel-control{
	top: 0;
	width: 25%;
	height: 100%;
	color: white;
	opacity: 1;
	z-index: 2;
	&:before {
		font-size: 22px;
		display: block;
		font-family: 'Ionicons';
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
  	top: calc(50% - 20px);
  	background-color: rgba(#000, .7);
  	@include transition(background-color 0.1s);
	}
	&:hover:before {
		background-color: $color-main;    		
	}
	&.rn-carousel-control-next{
		right: 0;
		&:before {
			content: '\f3d1';
    	right: 12px;
		}
	}
	&.rn-carousel-control-prev{
		left: 0;
		&:before {
			content: '\f3cf';
			left: 12px;
		}
	}
}

	.image-container{
		position: relative;
    overflow: hidden;
    padding-top: 66.67%;
	}
	ul[rn-carousel] {
		width: 100%;
		position: absolute;
    top: 0;
    height: 100%;
    img {
			height: 100%;
		}
	}
section.list{
	padding-bottom: 40px;
	@include respond-to(tablet-port) { 
		width: 60vw;
		float: left;
		overflow-y: auto;
		overflow-x: hidden;
		height: 100vh;
		padding-top: 130px;
		overflow: hidden;
		overflow-y: scroll;
	}
	.btn-outline {
		margin-top: 40px;
	}


	.description {
		height: 100px;
		p {
			font-size: 15px;
			line-height: 23px;
		}
		.name {
			font-weight: 800;
			font-size: 24px;
			line-height: 36px;
			margin: 10px 10px 0 0; 
		}
	}
}

.image-container-logo,
.distance{
	position: absolute;
}
.image-container-logo {
	z-index: 3;
	bottom: 12px;
	right: 12px;
	min-width: 60px;
	border: 5px solid $gray;
	width: 20%;
}
.distance {
	font-weight: 600;
	background-color: rgba(#000, .8);
	color: #fff;
	padding: 2px 10px;
	z-index: 3;
	top: 0;
	right: 0;
}




/*=====  End of LIST ITEMS  ======*/

section.map{
	position: absolute;
	right: 0;
	top: 0;
	@include respond-to(tablet-port) { 
		width: 40vw;
		float: right;
	}
	.set-position{
		position: absolute;
		top: 0;
		right:0;
		z-index: 9999999;
		background-color: #fff;
		color: #484848;
		font-weight: 600;
		padding: 6px 20px 5px 20px;
		border: 1px solid #AAAAAA; 

	}
	#search-map{
		height: 100vh;
		.ng-map-info-window{
			.carousel{
				height: 298px;
				width: 402px;
			}
		}
	}
	.custom-marker{
		font-size: 1.1em;
		background: #fff;
		@include border-radius(2px);
			@include box-shadow(0px 3px 22px -4px rgba(#000,0.5));
		text-align: center;
		.marker{
			padding: 3px 10px 4px;
	    font-weight: 800;
	    font-size: 15px;
	    color: #C91C10;
	    line-height: 23px;
			&.active{
				background: $brand-primary;
				color: $gray-lighter;
				&:after{
					border-color: $brand-primary transparent;
				}
			}
			&:after{
				content: '';
				position: absolute;
				border-style: solid;
				border-width: 7px 6px 0;
				border-color: #fff transparent;
				display: block;
				width: 0;
				z-index: 1;
				margin-left: -6px;
				bottom: -6px;
				left: 50%;
			}
		}
	}
	.gm-style {
		font-family: Titillium;
	}

	.description {
		width: 261px;
		p {
			font-size: 15px; 
			line-height: 23px;
		}
		.name {
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			color: $color-main;
			margin: 9px 0 0; 
			// @extend %cutText;
		}
	}
	.image-container {
		width: 261px;
	}
	.gm-style .gm-style-iw {
		top: 10px!important;
		left: 10px;
	}
	.gm-style-mtc {
		display: none;
	}
}

.form-control {
	color: #333;
}
