
body{
	overflow-x : hidden;
}
section.items {
	position: relative;
	font-family: $font-family-sans-serif;
	@extend %leftColumn;
}
.map-container {
	.fluid-container {
		margin: 0 20px;
	}
	.row {
		margin-left: -10px;
    margin-right: -10px;
	}
}
.post-type-archive-academias .map-container {
	padding-top: 100px;
  position: relative;
  @media (max-width: 991px){
		padding-top: 60px;
	}
	.filters,
	section.map {
	  top: 100px;
		@media (max-width: 991px){
			top: 60px;
		}
	}
	section.map {
		height: calc( 100% - 100px );
		@media (max-width: 991px){
			height: calc( 100% - 60px );
		}
	}
}

