.list{
  @media (min-width: 1128px){
		padding-top: (20px + 76px);
  }
	@media (max-width: 1127px){
		padding-top: 20px;
  }
	background-color: #fff;
	.description {
		height: 100px;
		p {
			font-size: 15px;
			line-height: 23px;
		}
		.name {
			font-weight: 800;
			font-size: 24px;
			line-height: 36px;
			margin: 10px 10px 0 0; 
		}
	}
}
.list-bottom {
	padding: 40px 0 70px;
	&.col-md-6 {
		padding-left: 10px!important;
		
	}
}