%leftColumn {
  @media (max-width: 1127px){
		width: 50%;
	}
	@media (min-width: 1128px){
		width: 66%;
	}
	@media (max-width: 743px){
		width: 100%;
		z-index: 1;
	}
}

%cutText{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}