<div class="info-box" ng-controller="MapController as ctrl">

	<button class="btn set-position" ng-click="ctrl.setUserPotition()">UBICAR MI POSICIÓN</button>
	
	<ng-map id="search-map" zoom="11" center="[{{ctrl.originPoint.lat}}, {{ctrl.originPoint.lng}}]">
		<custom-marker ng-repeat="ins in ctrl.institutes"
		id="marker_{{ins.id}}"
		on-click="ctrl.showInfoWindow(event,$index);"
		position="{{ins.point}}">
			<div class="marker" ng-class="ins.inHover ? 'active': ''">
				{{ins.name}}
			</div>
		</custom-marker>

		<info-window id="infoinstitute" >
			<div ng-non-bindable="">
		  	<div class="image-container">
					<ul rn-carousel class="carousel" rn-carousel-controls rn-carousel-controls-allow-loop rn-carousel-transition="fadeAndSlide">
						<li ng-repeat="image in ctrl.ins.images track by $index">
							<img ng-src="{{image}}"/>
						</li>
					</ul>
					<img class="image-container-logo" ng-src="{{ctrl.ins.logo}}">
				</div>
			  
				<div class="description">
					<p class="name">{{ctrl.ins.name}}</p>
        	<p class="address">{{ctrl.ins.address}}</p>
					<p class="discipline">
	          <span ng-repeat="dis in ctrl.ins.disciplinesObj">
	            {{dis.name}} <span class="discipline-divider" ng-if="!$last">•</span>
	          </span>
	        </p>
				</div> 

			</div> 
		</info-window>

	</ng-map>

</div>